@import '../constants/var';

.App {
    background-color: $primary-color-1;
    min-height: 100vh;
}

.App-header {
    background-color: $primary-color-1;
    text-align: center;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}